html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0;background:#fff}a{text-decoration:none}
/* Mobil */
#mobil_top{position:fixed;width:100%;z-index:1;top:0;padding:7px 0 3px 6px;background:#fff;box-shadow:0 4px 4px 0 rgba(0,0,0,0.12),0 4px 4px 0 rgba(0,0,0,0.20)}
#mobil_logotip{padding:7px 0 3px 6px;-webkit-user-select:none;-ms-user-select:none;user-select:none}